@import '~ant-design-vue/dist/antd.less';

@primary-color: #366AF3;
@success-color: #41db92;
@warning-color: #fed309;
@error-color: #fe1334;
@border-radius-base: 24px;
@btn-height-lg: 44px;
@checkbox-border-radius: 6px;
@checkbox-size: 24px;

.ant-checkbox-group-item {
  display: flex;
  align-items: center;
}

.ant-checkbox {
  top: 0;
}
