@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2Regular.woff2') format('woff2'),
  url('../fonts/Exo2Regular.woff') format('woff'),
  url('../fonts/Exo2Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2Medium.woff2') format('woff2'),
  url('../fonts/Exo2Medium.woff') format('woff'),
  url('../fonts/Exo2Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2Bold.woff2') format('woff2'),
  url('../fonts/Exo2Bold.woff') format('woff'),
  url('../fonts/Exo2Bold.ttf') format('truetype');
}
