// SIZES
$mobileSmall: 320px;
$mobileMiddle: 360px;
$tablet: 768px;
$tabletLand: 1024px;
$notebook: 1240px;
$desktop: 1440px;

$mobileMax: $tablet - 1px;
$tabletMax: $tabletLand - 1px;
$tabletLandMax: $notebook - 1px;
$notebookMax: $desktop - 1px;

$maxContainer: 1440px;

// COLORS
$white: #fff;
$dark: #000000d9;
$primaryColor: #366AF3;
$successColor: #41db92;
$warnColor: #fed309;
$dangerColor: #fe1334;
$borderColor: #e5e5e5;

// BORDERS
$borderBase: 1px solid $borderColor;
$borderRadiusBase: 16px;
$borderRadiusLarge: 24px;

// SHADOW
$shadowBase: 0 1px 6px rgb(32 33 36 / 28%);

// TRANSITION
$transitionBase: .3s;


